part-1/node_modules/
part-1/.idea/
part-1/test_gbrequest/node_modules/axios/CHANGELOG.md
part-1/test_gbrequest/node_modules/
part-1/test_gbrequest/.idea/
part-1/test/test_gbrequest/.idea/misc.xml
part-1/test/test_gbrequest/.idea/
part-1/test/test_gbrequest/node_modules/
part-1/test/.idea/
.idea/
